body {
    margin: 40px;
    font-family: "Arial Narrow";
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0 0 10px 0;
}

ul, ol {
    padding-left: 15px;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    position: relative;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

.footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
    background-color: #fff;
    color: #444;
}


.box {
    background-color: #dedede;
    border-radius: 5px;
    padding: 50px;
    font-size: 125%;
}

.flex {
    display: flex;
}